<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      <a class="sidebar-nav-item{% if page.url == '/archguide/' %} active{% endif %}" href="/archguide/">Architecture Guide</a>
      <a class="sidebar-nav-item{% if page.url == '/userguide/' %} active{% endif %}" href="/userguide/">User Guide</a>
      <a class="sidebar-nav-item{% if page.url == '/devguide/' %} active{% endif %}" href="/devguide/">Developer Guide</a>
      <ul class="sidebar_children">
        <li><a class="sidebar-nav-item{% if page.url == '/devguide/configmgmt/' %} active{% endif %}" href="/devguide/configmgmt/">Configuration Management</a></li>
        <li><a class="sidebar-nav-item{% if page.url == '/devguide/interfaces/' %} active{% endif %}" href="/devguide/interfaces/">Programmatic Interfaces</a></li>
        <li><a class="sidebar-nav-item{% if page.url == '/devguide/addview/' %} active{% endif %}" href="/devguide/addview/">Adding Views</a></li>
        <li><a class="sidebar-nav-item{% if page.url == '/devguide/addservice/' %} active{% endif %}" href="/devguide/addservice/">Adding Services</a></li>
        <li><a class="sidebar-nav-item{% if page.url == '/devguide/addserviceansible/' %} active{% endif %}" href="/devguide/addserviceansible/">Adding Services using Ansible</a></li>
        <li><a class="sidebar-nav-item{% if page.url == '/devguide/datamodel/' %} active{% endif %}" href="/devguide/datamodel/">Data Modeling Conventions</a></li>

      </ul>
      <a class="sidebar-nav-item{% if page.url == '/opsguide/' %} active{% endif %}" href="/opsguide/">Operator Guide</a>
      <a class="sidebar-nav-item{% if page.url == '/releasenotes/' %} active{% endif %}" href="/releasenotes/">Release Notes</a>
      <a class="sidebar-nav-item{% if page.url == '/roadmap/' %} active{% endif %}" href="/roadmap/">Roadmap</a>

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
