<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-opencloud">

    {% include sidebar.html %}

    <div class="content container">
    <div class="banner" style="background-color: #ffff00; padding: 1em 1em 0.1em 1em;">
      <p>NOTE: This site may be out of date, more current documentation is available on the <a href="https://wiki.opencord.org">OpenCord Wiki</a>.</p>
    </div>
      {{ content }}
    </div>

  </body>
</html>
